@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,900&family=Roboto:wght@100;300;500;700&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background: url("/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    min-height: 50px;
    background: rgba(0, 0, 0, 0.9);
}

.parentdiv {
    min-height: 100vh;
}

.navdiv {
    background: rgba(0, 0, 0, 0.4);
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}

.navdiv:hover {
    background: rgba(150, 45, 45, 0.9);
}

#pagination p {
    color: white !important;
}

.pagination li a {
background-color: rgba(38, 38, 38, 0.493) !important;
color: white !important;
border-color: grey !important;
z-index: 0 !important;
}

.pagination li.active span {
background-color: rgb(184, 21, 21) !important;
color: white !important;
border-color: grey !important;
z-index: 0 !important;
}

.pagination li.disabled span {
background-color: rgba(111, 111, 111, 0.481) !important;
color: white !important;
border-color: grey !important;
}

.dark-background{
    background:rgba(0,0,0,0.5);
}

.white-border {
    border: 1px solid grey;
}

.white-border-curved{
    border-radius: 10px;
    border: 1px solid white;
}